.topmenu {
    background: transparent url(/Content/Images/logo-background.png);
    height: 125px;
    border: 0px solid #323232;
    border-top-width: 6px;
}

.topbar {
    position: relative;
}

.actions .package-image 
{
    margin-left: -100px;
    float: left;
    width: 50px;
    height: 50px;
}

.input-frontpage-search {
    width: 100%;
    height: 34px;
    font-size: 28px;
    line-height: 32px;
    padding: 10px;
}

#openid-wrap div#other a:hover
{
    cursor: pointer;
}

#openid-providers ul
{
    display: inline-block;
    list-style: none;
}

#openid-providers li
{
    margin: 10px;
    padding: 0;
    float: left;
    width: 150px;
    height: 50px;
    background: transparent url('/Content/Images/openid_sprite.png') no-repeat 0 0;
}

li#openid       { background-position: 0 0; }
li#myopenid     { background-position: 0 -50px; }
li#twitter      { background-position: 0 -100px; }
li#facebook     { background-position: 0 -150px; }
li#google       { background-position: 0 -200px; }
li#yahoo        { background-position: 0 -250px; }
li#openid:hover       { background-position: -150px 0; cursor: pointer; }
li#myopenid:hover     { background-position: -150px -50px; cursor: pointer; }
li#twitter:hover      { background-position: -150px -100px; cursor: pointer; }
li#facebook:hover     { background-position: -150px -150px; cursor: pointer; }
li#google:hover       { background-position: -150px -200px; cursor: pointer; }
li#yahoo:hover        { background-position: -150px -250px; cursor: pointer; }