.topmenu {
    background: transparent url(/Content/Images/logo-background.png);
    height: 125px;
    border: 0px solid #323232;
    border-top-width: 6px;
}

.topbar {
    position: relative;
}

.actions .package-image 
{
    margin-left: -100px;
    float: left;
    width: 50px;
    height: 50px;
}
