@model NuGetFeed.Models.Feed

@{
    ViewBag.Title = "My Feed - NuGet Feed";
}

<h2>
    Packages in my feed
    <small>
        <img src="/Content/Images/logo_10x10.png"/> <a href="@Url.Action("Rss")/@Model.Id">Subscribe to feed</a>
    </small>
</h2>


@foreach (var item in Model.Packages) {
    <p>@item</p>
}

<p>
    
</p>

<script type="text/javascript">
    $(document).ready(function () {
        $('#nav-myfeed').addClass('active');
    });
</script>