<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetMvc" version="4.0.20505.0" targetFramework="net40" />
  <package id="AutoMapper" version="2.0.0" />
  <package id="Canonicalize" version="1.0.4295.36908" />
  <package id="DotNetOpenAuth" version="3.4.7.11121" />
  <package id="elmah" version="1.2.0.1" />
  <package id="elmah.corelibrary" version="1.2" />
  <package id="Elmah.MVC" version="1.2" />
  <package id="jQuery" version="1.7.2" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.9" targetFramework="net40" />
  <package id="jQuery.Validation.Unobtrusive" version="1.0" />
  <package id="LowercaseRoutesMVC" version="1.0.1" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20505.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Modernizr" version="2.0.6" />
  <package id="Monads" version="1.1.0.0" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="Ninject.MVC3" version="2.2.2.0" />
  <package id="NoRM" version="0.9.8" />
  <package id="WebActivator" version="1.4.4" />
</packages>