@model IEnumerable<NuGetFeed.NuGetService.V2FeedPackage>

<h4>Top 10 Most Followed</h4>

<ol>
@foreach (var item in Model) {
    <li>
        <a href="@Url.Action("Details", "Packages", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a><br />
    </li>
}
</ol>
<p>
    <a href="@Url.Action("MostFollowed", "Home")">See more &raquo;</a>
</p>