@{
    ViewBag.Title = "NuGet Feed";
}

<div class="row">
    <div class="span13 columns offset3">
        <img src="/Content/Images/curved-arrow.png" style="float: left"/> 
        <h2 style="padding-top: 33px; margin-left: 150px;">
            Search for the packages you want to follow
        </h2>
    </div>
</div>

<br/>

<div class="hero-unit">
    <h1>Welcome to NuGet Feed</h1>
    <h2>Keep your dependencies fresh</h2>
    <p>If you're anything like us, you hate stale dependencies. Why run version 1.1.0 when you can get 1.2.0b2? The problem is keeping up-to-date. Well, no more! Add your favorite NuGet packages to your personalized feed and never miss another update (or follow the releases until a stable package is released).</p>
</div>

<div class="row">
    <div class="span16">
        <h2 style="text-align: center;">Features</h2>
    </div>
</div>

<div class="row">
    <div class="span3"><img src="@("/Content/Images/scr_search.png")" width="160" height="100" /></div>
    <div class="span5">
        <h3>Search NuGet Packages</h3>
        <p>On NuGetFeed.org you can search NuGet package feeds directly. You will be able to see all the info from the official NuGet site, without ever leaving NuGetFeed.org.</p>
    </div>
    <div class="span3"><img src="@("/Content/Images/scr_chrome.png")" width="160" height="100" /></div>
    <div class="span5">
        <h3>Google Chrome Extension</h3>
        <p>Install the NuGet Feed extension in Google Chrome to add RSS links on NuGet.org. The NuGet Feed Chrome Extension also works with your favorite Chrome feed extension, by adding an alternate URL to all package pages on NuGet.org.</p>
    </div>
</div>
<div class="row">
    <div class="span3"><img src="@("/Content/Images/scr_myfeed.png")" width="160" height="100" /></div>
    <div class="span5">
        <h3>Personalized Feed</h3>
        <p>Create your personalized feed containing your favorite packages. Login using your prefered OpenID provider to get started.</p>
    </div>
    <div class="span3"><img src="@("/Content/Images/scr_studio.png")" width="160" height="100" /></div>
    <div class="span5">
        <h3>Visual Studio Add-in</h3>
        <p>COMING SOON! With NuGet Feed for Visual Studio, you will be able to export all your referenced NuGet packages to NuGetFeed.org. Simply right-click the References folder and export directly to NuGetFeed.org.</p>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#nav-home').addClass('active');
    });
</script>