@{
    ViewBag.Title = "NuGet feed";
}

<div class="hero-unit">
    <h1>Welcome to NuGet Feed</h1>
    <h2>Keep your dependencies fresh</h2>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#nav-home').addClass('active');
    });
</script>